*{
    font-family:'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.conteiner-central{
    display: grid;
    justify-content: center;
    margin-top: 2em;
    
}
.conteiner-btn-input{
  padding: 1em;
  margin: 1em;

}
.conteiner-btn-movie-serie{
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
    padding: 1em;
}
#movies , #serie {
    padding: 0.5em;
    margin: 1em;
    background-color:#E61057 ;
    border: none;
    color: #fff;
    
}
#movies:hover , #serie:hover{
        background-color: #E67098;
        cursor: pointer;
        color: #7AFF00;
}
#search{
    padding: 0.7em;
    font-size: 20px;
    font-weight: bold;
}
#search:focus{
    background-color: #E61057;
}

#btn{
    padding: 0.5em;
    margin: 1em;
    background-color:#E61057 ;
    border: none;
    color: #fff;
    height: 56px;
}
.conteiner-list-movies{
    display: flex;
    justify-content: flex-start;
    border: solid 1px #E61057 ;
    padding: 1em;
    margin: 1em;
}
.styleListDOM{
    list-style: none;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
}
.styleImgDOM{
    height: 350px;
}
.slide{
    max-width: 3em;
    height: 5em;
    padding: 2em;
    margin: 2em;
}
img{
    height: 250px;
    padding: 20px;
}